@font-face {
  font-family: bucket;
  src: url(../fonts/Bucket.ttf);
}
@font-face {
  font-family: dollia-kids;
  src: url(../fonts/Dollia-Kids.otf);
}

body {
  letter-spacing: 2px;
  font-family: bucket;
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 355px;
  background: url("https://images.unsplash.com/photo-1440288736878-766bd5839edb?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.main {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgb(245, 95, 1);
  background-color: #000000c6;
}

.hero{
  position: sticky;
  /* top: 20px; */
}


h1 {
  
  padding-left: 5px;
  font-size: 90px;
  font-family: dollia-kids;
  font-weight: 100;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.473);
}

h2{
  margin: 0;
  font-weight: 100;
  font-size: 80px;
}
.bday {
  color: rgb(245, 95, 1);
  padding-top: 8px;
  font-family: bucket;
  background: rgba(255, 255, 255, 0.473);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

#submit {
  background-color: rgba(255, 255, 255, 0.504);
  color: hsl(0, 0%, 0%);
  text-shadow: 1px 1px 5px rgb(68, 63, 10);
  width: 200px;
  border-radius: 0;
  height: 40px;
  padding: 0;
}
#submit:hover {
  background: none;
  box-shadow: none;
  border: 1px solid white;
  width: 150px;
  color: white;
  box-shadow: 1px 1px 20px rgb(245, 95, 1);
}

input {
  padding-left: 20px;
  color: rgb(7, 69, 130);
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  background-color: #e1d9d9;
  width: 300px;
}

input:focus {
  outline: none;
  background-color: #e1d9d9;
}

input::placeholder {
  color: #a59d9d; /* Light gray color for the placeholder text */
  font-style: italic; /* Optional: change the font style of the placeholder text */
}
label {
  color: aqua;
  font-size: 45px;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .main{
    width: 350px;
    padding: 20px;
  }
  h1{
    font-size: 55px;
  }
  .bday{
    padding-top: 4px;
  }
}

