@font-face {
    font-family: bucket;
    src: url(../fonts/Bucket.ttf);
}

html, body{
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, red, orange, rgb(181, 77, 7));
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
}
.hero{
    background-color: rgba(255, 255, 255, 0.504);
    height: 100px;
    color: white;
    text-align: center;
}

h1{
    font-size: 40px;
    margin-bottom: 0;
}
span{
    color: aqua;
    font-family: bucket;
    font-size: 85px;
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
}